body {
    font-family: sans;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 18px
}

#self-desc p {
    max-width: 40em;
}

#main {
    max-width: 40em;
    margin: 5px;
}

.item {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.item-time {
    width: 10em;
}

.item-desc {
    margin-right: auto;
}

.item-desc p {
    min-width: 18em;
}

#rightbar {
    display: flex;
    flex-direction: column;
    align-content: center;
}

.no-bottom {
    margin-bottom: 0px;
} 
.no-top {
    margin-top: 0px;
} 

#contact {
    font-size: smaller;
}
